main{
    width: 100vw;
    height: 100vh;
    background-color: #E0E1DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.arenas{
    width: 80%;
    height: 40%;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time-um .grama{
    width: 300px;
    height: 130px;
    border-radius: 50%;
    background-color: #B0AF90;
    border: 20px solid #C8C8AE;
}
.time-um .status{
    width: 300px;
    height: 100px;
    background-color: #F1F0D1;
    border-radius: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
}
.time-dois .status{
    width: 300px;
    height: 100px;
    background-color: #F1F0D1;
    border-radius: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
}
.time-dois{
    display: flex;
    flex-direction: row-reverse;
}
.time-dois .grama{
    width: 300px;
    height: 130px;
    border-radius: 50%;
    background-color: #B0AF90;
    border: 20px solid #C8C8AE;
}
.time-um .esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}
.time-dois .direita{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}
.titulo{
    width: 80%;
    height: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
}
.barra-vida{
    width: 80%;
    height: 20%;
    border-radius: 10px;
    background-color: white;
}

.progresso-pokemon-um{
    background-color: #7BD2A7;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}
.progresso-pokemon-dois{
    background-color: #7BD2A7;
    height: 100%;
    width: 30%;
    border-radius: 10px;
}

.painel{
    background-color: #579097;
    width: 80%;
    height: 200px;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.painel button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #F1F0D1;
    border: 2px solid black;
    font-weight: bold;
    font-size: large;
}
.pokemon-dois img{
    position: absolute;
    z-index: 1;
}
.pokemon-dois{
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pokemon-um img{
    position: absolute;
    z-index: 1;
}
.pokemon-um{
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
}